<div class="game">
  <% if @room %>
  <h2><span><%= @room.title_name %></span><span class='moves'>Moves: <%= @moves %></span></h2>
    <div id='screen' class="game-screen">
      <% @text.each do |line| %>
        <% if line == "" %>
          <br>
        <% else %>
          <p><%= line %></p>
        <% end %>
      <% end %>
      <br>
      <% if @room.title_name != 'Escape Courtyard' %>
        <form action="/room/<%= @room.name %>" method="post">
          <div class="form-group">
            >:<input id="game-input" type="text" class="form-control" name="action" autofocus autocomplete="off" >
          </div>
        </form>
      <% else %>
        <p>THE END</p>
        <br>
        <p>Thank you for playing Zork Asylum! You completed the game in <%= @moves %> moves.</p>
        <p>This game was created by Kelsey Langlois, L. Devin MacKrell, Tyler Miller, and Dan Nollette.</p>
        <br>
      <% end %>
    </div>
  <% else %>
    <h2>You have gotten very lost.</h2>
  <% end %>
</div>

<a href="/menu">Restart Game</a>
